@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";
#first_section{
    background-image: url("main-background.png");
    background-size: cover;
    color:#f9f9f9;
    font-family: IBMPlexSans;
    height:60vw;
    ul{
        display:inline-block;
        li{
            display:inline-block;
            padding-left: 4vw;
            padding-right: 4vw;
            .top{
                    font-size: 1vw;
            }
            .bottom{
                    font-size: 1.2vw;
            }
            .logo{
                width: 8vw;
                margin-left: 8.5vw;
                object-fit: contain;
            }
        }
    }   
    .center{
        align-items: center;
        .illustration{
            position:absolute;
            width: 35vw;
            object-fit: contain;
            margin-left: 35vw;
        }
        h1{
            position:absolute;
            font-family: Simplicity;
            font-size: 5vw;
            text-align: center;
            margin-left: 25%;
            margin-top: 14%;
        }
        .menuButton{
            position: absolute;
            width: 10vw;
            height: 3vw;
            background-color: #8cba40;
            margin-left: 47vw;
            margin-top: 35%;
            color:#f9f9f9;
            border-color: #8cba40;;
        }
        .boxButton{
            position:absolute;
            width: 10vw;
            height: 10vw;
            background-color: #8cba40;
            font-size: 5vw;
            margin-left: 10vw;
            margin-top:47vw;
            border-color: #8cba40;
            color:#f9f9f9;
        }
    }
}
#second_section{
    display:inline-block;
    background-color:#fbf7f1;
    .text{
        width:49%;
        padding:5vw;
        font-size: 1pvw;
        float:left;
        h2{
            padding-top:5vw;
            font-family: Simplicity;
            font-size: 5vw;
            padding-left:3vw;
        }
        .illustration2{
            width:15vw;
            opacity: 13%;
            margin-top: 2vw;
        }
    }
        .images{
            margin-top:2vw;
            .image1,.image2,.image3,.image4{
                float: left;
                width:20vw;
                padding:1vw;
            }
            .image2{
                margin-top: 2vw;
            }
            .image3{
                margin-top:-6vw;
            }
        } 
}
#third_section{

}
#fourth_secton{

}
#fifth_secton{

}
#sixth_secton{

}
#seventh_secton{

}
#eight_secton{

}